{% extends 'core/base.html' %}
{% block title %} Portfolio {% endblock title %} 
{% block content %}
<div class="flex flex-wrap justify-center">
    {% for proj in projects %}
      {% if proj.status == 'C' %}
      <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
        <img class="w-full" src="{{proj.image.url}}" alt="Project Image">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ proj.project_name }}</div>
          <p class="text-gray-700 text-base">{{ proj.description }}</p>
        </div>
        <div class="px-6 py-4">
          {% for tag in proj.tags.all %}
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>  
      {% endif %}  
    {% endfor %}
</div>  
{% endblock content %}