{% extends 'core/base.html' %}
{% block title %} Contact {% endblock title %} 
{% block content %}
<div class="bg-gray-200">
    <div class="container mx-auto px-4 py-12">
      <h2 class="text-center text-3xl font-medium mb-6">Contact Us</h2>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4">
          <form method='post' class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-4">
              <label class="block text-gray-700 font-bold mb-2" for="Subject">
                Subject
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Subject" name="subject" type="text" rows="10" placeholder="Enter your Subject">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 font-bold mb-2" for="message">
                Message
              </label>
              <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="message" name="message" placeholder="Enter your message"></textarea>
            </div>
            <div class="flex items-center justify-end">
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                Submit
              </button>
            </div>
          </form>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h3 class="text-center text-2xl font-medium mb-6">Contact Information</h3>
            <div class="mb-4">
              <p class="text-gray-700 font-bold mb-2">
                Address:
              </p>
              <p class="text-gray-700">
                Route de mahdia Km 2.5,<br> 3099 El Bustan Sfax Sfax,<br> Sfax Médina, Sfax
              </p>
            </div>
            <div class="mb-4">
              <p class="text-gray-700 font-bold mb-2">
                Phone:
              </p>
              <p class="text-gray-700">
                (+216) 53617228
              </p>
            </div>
            <div class="mb-4">
              <p class="text-gray-700 font-bold mb-2">
                Email:
              </p>
              <p class="text-gray-700">
                mnafegayoub@sfax.r-iset.tn
              </p>
            </div>
          </div>
          <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h3 class="text-center text-2xl font-medium mb-6">Location</h3>
            <div class="w-full h-64 rounded-lg overflow-hidden">
                <iframe class="w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6382.304934448257!2d10.778297174829196!3d34.75480723893534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMyA0Ljc1NDk1LzEwLjc4MDQ4Ng!5e0!3m2!1sen!2sus!4v1651128886914!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
